:root {
    --cor-fundo: #dfdede;
    --cor-fundo-conteudo: #393234;
    --cor-botao: #3aec75;
    --cor-texto: #252525;
    --font-principal: "prompt", sans-serif;
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    width: 65%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#tabela-imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#tabela-imc > h1 {
    text-align: center;
}

#tabela-imc strong {
    color: var(--cor-botao);
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td, tr {
    font-weight: 600;
    padding: 10px;
    border: 1px solid black;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 20px;
}

.conteudo input {
    width: 70%;
    background-color: var(--cor-fundo);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.conteudo-botao {
    width: 70%;
    color: var(--cor-texto);
    text-align: center;
    font-weight: 600;
    background-color: var(--cor-botao);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

#resultado-imc {
    width: 70%;
    margin-top: 10px;
}

#dicas {
    display: none;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
    background-color: var(--cor-botao);
    border-radius: 0px 0px 20px 20px;
}

#dicas > h2 {
    border-radius: 10px;
}

#dicas > p {
    width: 50%;
    margin-top: 10px;
    text-align: justify;
}

@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        transition: 0.5s;
    }

    table { 
        width: 90%;
    }

    .conteudo input, .conteudo-botao{
        width: 90%;
    }
}